@import "compass/utilities/text/replacement";
@import "compass/utilities/lists/horizontal-list";
@import "compass/css3";

// Stupid trick to get columns the same length: see http://www.positioniseverything.net/articles/onetruelayout/equalheight
// All the columns need a parent container. Put this mixin in the parent container and pass a selector for the columns
@mixin equal-column-length($column-selector) {
  overflow: hidden;
  #{$column-selector} {
    // A fairly arbitrary large number (should be larger than any potential column)
    padding-bottom: 1000px;
    margin-bottom: -1000px;
  }
}

$footer-background-color: #e9e5d7;
// Change the name of the font here to test font-face embedding. By changing the name we can ensure
// that it's not picking up a locally installed version of the font
$museo-slab : "ms";
$quicksand: "qs";

// **** Start of fonts stuff

// TODO: Add .eot for IE
/* Museo Slab 500 - a font by Jos Buivenga (exljbris) -> www.exljbris.nl */
@include font-face($museo-slab, font-files("Museo_Slab_500.otf", opentype));
@include font-face($museo-slab, font-files("Museo_Slab_500italic.otf", opentype), false, false, italic);
@include font-face($quicksand, font-files("Quicksand_Book.otf", opentype), false, false, book);
@include font-face($quicksand, font-files("Quicksand_Bold.otf", opentype), false, false, bold);

body {
  font-family: Arial;
  font-size: 0.8em;
  line-height: 1.25;
}

#blog-title {
  font-family: $museo-slab;
  font-size: 2.75em;
}

#blog-description {
  font: italic 1.05em $museo-slab;
}

#menu {
  font-family: $quicksand;
  font-style: book;
  font-size: 1.05em;
  text-transform: uppercase;
  letter-spacing: 0.13em;
}

#updates, #volunteer, #chatter {
  h3 {
    font-family: $quicksand;
    font-style: book;
    font-size: 1.6em;
    letter-spacing: -0.015em;
  }
}

#getinvolved, #donation, #idea, #data {
  h3 {
    font-family: $museo-slab;
    font-size: 1.4em;
    letter-spacing: 0em;
  }
}

#secondary > ul {
  padding: 37px;
  h3 {
    font-family: $quicksand;
    font-style: bold;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: -0.015em;
  }
}

// **** End of fonts stuff

#wrapper {
  @include container;
  //@include showgrid;
}
#header, #access, #container, #primary, #footer {
  @include column(18, true);
}

#secondary > ul {
  background: $footer-background-color url(../images/stripes.png) repeat-x 0 1px;
}

.skip-link {
  display: none;
}

#menu ul {
  @include horizontal-list(20px);
  ul {
    display: none;
  }
}

#dynamiccontent {
  @include column(18, true);
  
  #updates {
    @include prepend(1);
  }

  #updates, #volunteer, #chatter {
    @include column(5);
  }

  #chatter {
    @include prepend(1);
    @include append(1);
    @include last;
  }
}

#staticcontent {
  @include column(18, true);
  #getinvolved, #donation, #idea, #data {
    @include column(4);
  }
  
  #getinvolved {
    @include prepend(1);
  }
  #data {
    @include append(1);
    @include last;
  }
}

#secondary > ul {
  @include column(18, true);
  padding-left:0;
  > li {
    @include column(4);
  }
  > li:first-child {
    @include prepend(1);
  }
  > li:last-child {
    @include append(1);
    @include last;
  }
}

#primary, .entry-title {
  display:none;
}