@import "compass/utilities/text/replacement";
@import "compass/utilities/lists/horizontal-list";
@import "compass/css3";

$footer-background-color: #e9e5d7;
$box-background-color : #fffde7;
$box-heading-color : #fec210;
// Change the name of the font here to test font-face embedding. By changing the name we can ensure
// that it's not picking up a locally installed version of the font
$museo-slab : "ms";
$quicksand-book: "qsbook";

// TODO: Add .eot for IE
/* Museo Slab 500 - a font by Jos Buivenga (exljbris) -> www.exljbris.nl */
@include font-face($museo-slab, font-files("Museo_Slab_500.otf", opentype));
@include font-face($museo-slab, font-files("Museo_Slab_500italic.otf", opentype), false, false, italic);
@include font-face($quicksand-book, font-files("Quicksand_Book.otf", opentype));

#blog-title {
  font-family: $museo-slab;
  font-size: 2.75em;
}

#blog-description {
  font: italic 1.05em $museo-slab;
}

#menu {
  font-family: $quicksand-book;
  font-size: 1.05em;
  text-transform: uppercase;
  letter-spacing: 0.13em;
}

#wrapper {
  @include container;
  //@include showgrid;
}
#header, #access, #container, #primary, #footer {
  @include column(18, true);
}

#secondary > ul {
  background-color: $footer-background-color;
}

.skip-link {
  display: none;
}

#menu ul {
  @include horizontal-list(30px);
  ul {
    display: none;
  }
}

#dynamiccontent {
  @include column(18, true);
  
  h3 {
    background-color: $box-heading-color;
  	margin: 0;
  	line-height: 1.5em;
  }

  p, h3, h4 {
    padding-left: 20px;
  	padding-right: 20px;
  }

  // Stupid trick to get columns the same length: see http://www.positioniseverything.net/articles/onetruelayout/equalheight
  overflow: hidden;
  
  #updates {
    @include column(6);
    background-color: $box-background-color;
    margin-left: $blueprint-grid-width + $blueprint-grid-margin;
    // Stupid trick to get columns the same length: see http://www.positioniseverything.net/articles/onetruelayout/equalheight
    padding-bottom: 1000px;
    margin-bottom: -1000px;
  }

  #volunteer {
    @include column(6);
    background-color: $box-background-color;
    // Stupid trick to get columns the same length: see http://www.positioniseverything.net/articles/onetruelayout/equalheight
    padding-bottom: 1000px;
    margin-bottom: -1000px;
  }

  #chatter {
    @include append(1);
    @include column(4, true);
  }
}

#staticcontent {
  @include column(18, true);
  #getinvolved {
    @include prepend(1);
    @include column(4);
  }
  #donation, #idea {
    @include column(4);
  }
  #data {
    @include append(1);
    @include column(4, true);
  }
}

#secondary > ul {
  @include column(18, true);
  padding-left:0;
  > li:first-child {
    @include prepend(1);
    @include column(4);
  }
  > li {
    @include column(4);
  }
  > li:last-child {
    @include append(1);
    @include column(4, true);
  }
}

#primary {
  display:none;
}