@import "compass/utilities/text/replacement";
@import "compass/utilities/lists/horizontal-list";
@import "compass/css3";
@import "blueprint/buttons";

// Stupid trick to get columns the same length: see http://www.positioniseverything.net/articles/onetruelayout/equalheight
// All the columns need a parent container. Put this mixin in the parent container and pass a selector for the columns
@mixin equal-column-length($column-selector) {
  overflow: hidden;
  #{$column-selector} {
    // A fairly arbitrary large number (should be larger than any potential column)
    padding-bottom: 1000px;
    margin-bottom: -1000px;
  }
}

$footer-background-color: #e9e5d7;
// Change the name of the font here to test font-face embedding. By changing the name we can ensure
// that it's not picking up a locally installed version of the font
$museo-slab : "ms";
$quicksand: "qs";

// **** Start of fonts stuff

// TODO: Add .eot for IE
/* Museo Slab 500 - a font by Jos Buivenga (exljbris) -> www.exljbris.nl */
@include font-face($museo-slab, font-files("Museo_Slab_500.otf", opentype));
@include font-face($museo-slab, font-files("Museo_Slab_500italic.otf", opentype), false, false, italic);
@include font-face($quicksand, font-files("Quicksand_Book.otf", opentype), false, false, book);
@include font-face($quicksand, font-files("Quicksand_Bold.otf", opentype), false, false, bold);

body {
  font-family: Arial;
  font-size: 0.8em;
  line-height: 1.25;
}

#blog-title, #getinvolved h3, #donation h3, #idea h3, #data h3 {
  font-family: $museo-slab;
}

#blog-description {
  font-family: $museo-slab;
  font-style: italic;
}

#menu, #aboutoaf, #viewprojects, #updates h3, #volunteer h3, #chatter h3, .sidebar#primary {
  font-family: $quicksand;
  font-style: book;
}

#secondary > ul h3, .entry-title {
  font-family: $quicksand;
  font-style: bold;
}

.entry-title {
  font-size: 2em;
  letter-spacing: -0.015em;
}

#blog-title {
  font-size: 2.75em;
}

#blog-description {
  font-size: 1.05em;
}

#menu {
  font-size: 1.05em;
  letter-spacing: 0.13em;
}

#aboutoaf {
  font-size: 1.5em;
  letter-spacing: 0em;
}

#viewprojects {
  font-size: 1.05em;
  letter-spacing: 0em;
}

#updates h3, #volunteer h3, #chatter h3 {
  font-size: 1.6em;
  letter-spacing: -0.015em;
}

#getinvolved h3, #donation h3, #idea h3, #data h3 {
  font-size: 1.4em;
  letter-spacing: 0em;
}

#secondary > ul h3 {
  font-size: 1em;
  letter-spacing: -0.015em;
}

#menu, #viewprojects, #secondary > ul h3 {
  text-transform: uppercase;
}

.widget#sub-page-menu h3, .widget#sub-page-menu li {
  font-size: 1.2em;
  letter-spacing: -0.015em;
}

.widget#sub-page-menu li {
  line-height: 2.14em;
}

// **** End of fonts stuff

#secondary > ul {
  padding: 37px;
}

#wrapper {
  @include container;
  //@include showgrid;
}
#access, #footer {
  @include column(18, true);
}

// For some reason there's a <p> around the <img> which is causing extra space to appear
.entry-content > p {
  margin: 0;
}

#homecontent {
  background: url(../images/stripes.png) repeat-x 0 1px;
  @include prepend(1);
  @include append(1);
  @include column(16, true);

  #aboutoaf {
    @include prepend-top(25px);
    @include column(12);
  }
  #viewprojects {
    @include prepend-top(25px);
    @include column(4, true);
    a {
      @include anchor-button;
    }
  }
  hr {
    @include column(16, true);
    @include prepend-top(15px);
    @include append-bottom(15px);
  }
  #dynamiccontent {
    @include column(16, true);

    #updates, #volunteer, #chatter {
      @include column(5);
    }

    #chatter {
      @include prepend(1);
      @include last;
    }
  }
  #staticcontent {
    @include column(16, true);
    #getinvolved, #donation, #idea, #data {
      @include column(4);
    }
    #getinvolved, #donation, #idea {
      @include border;
    }
    #data {
      @include last;
    }
  }
}

#secondary > ul {
  background: $footer-background-color url(../images/stripes.png) repeat-x 0 1px;
}

#menu ul {
  @include horizontal-list(20px);
  ul {
    display: none;
  }
}

#secondary > ul {
  @include column(18, true);
  padding-left:0;
  > li {
    @include no-bullets;
    @include column(4);
    ul {
      padding-left: 0;
    }
  }
  > li:first-child {
    @include prepend(1);
  }
  > li:last-child {
    @include append(1);
    @include last;
  }
}

.skip-link, .edit-link, #search label {
  display:none;
}

// Formatting of "About Us" page
#container {
  @include prepend-top(4em);
  @include prepend(4);
  @include column(13, true);
  @include append(1);
  @include append-bottom(4em);
}

// Turn off bullets in all sidebars
.sidebar ul {
  @include no-bullets;
  padding-left: 0;
}

#primary {
  @include prepend-top(4em);
  @include column(3);
  @include pull(17, true);
}

// Things that only apply to the home page
body.home {
  #primary, .entry-title {
    display:none;
  }
  
  #container {
    @include prepend-top(0);
    @include prepend(0);
    @include column(18, true);
    @include append(0);
    @include append-bottom(0);
  }
}

#header {
  @include column(13);
}

#header-widget-area {
  @include column(5, true);
  form {
    @include float-right;
  }
}